body
{
	background-image: url("https://us.123rf.com/450wm/sn333g/sn333g1901/sn333g190100400/115836023-stem-education-vector-colorful-frame-with-dark-background.jpg?ver=6");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
}

	.login_div1 , .login_div2
	{
		background-color: violet;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#start,#btn2{
	background-color: violet;
	border-radius: 10px;
}
